/*
pallet:
Roayl Blue Dark: #0B275B //main dark accent color 
Artic Lime #E1ff5c //bold yellow green to highlight
Razzmatazz: #DB3069 //pop of pinky shade (Maybe Rubine Red #d0255E)
Light Steel Blue: #B4C1CF //darker light main color
Alice Blue:# e4edF2 //light background color 
*/
body {
    background: #e4edF2;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#heading {
    font-size: 57px;
    margin: auto;
    text-align: center;
    color: #0b275b;
    text-shadow: 3.5px 4px #E1ff5c; 
    background-color: #B4C1CF;
    width: 60%;
}